p{
    color:red;
}
table {
    border: 4px double black; /* Параметры границы */
    background: #fc3; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
   }


placeholder{
   color:red;
}

.checkbox-other {
    display: block;
    margin: 0 0 10px 0;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.checkbox-other input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}
.checkbox-other span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 35px;
    line-height: 22px;
}
.checkbox-other span:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.3s ease;
    background: url(/upload2/checkbox-1.png) 0 0 no-repeat;
}

/* Checked */
.checkbox-other input[type=checkbox]:checked + span:before {
    background-image: url(/upload2/checkbox-2.png);
}

/* Focus */
.focused span:before {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover */
.checkbox-other span:hover:before {
    filter: brightness(110%);
}

/* Active */
.checkbox-other span:active:before {
    filter: brightness(80%);
}

/* Disabled */
.checkbox-other input[type=checkbox]:disabled + span {
    color: #666;
    cursor: default;
}
.checkbox-other input[type=checkbox]:disabled + span:before {
    filter: grayscale(100%);
    opacity: 0.6;
}