.content {
    max-width: 356px;
    margin: auto;
}

h1{
    font-family: tahoma;
    font-size: 43px;
    color: rgb(50, 50, 120);
    }

h5{
    color: #AA0000;
}

p{
    font-family: arial;
    color: rgb(50, 50, 120);
    font-style: italic;
}
table {
    width: 356px;
}
.hTable{
    width: 100%;
}
::placeholder {
    color: grey;
    font-size: 12px;
    font-style: italic;
    font-family: math;
}

.checkbox-other {
    display: block;
    margin: 0 0 10px 0;
    cursor: pointer;
    user-select: none;
    position: relative;
}
button[type=reset] {
  background-color: #333333;
  border: none;
  color: white;
  padding: 8px 32px;
  margin: 4px 2px;
  cursor: pointer;
}
button[type=submit]{
  background-color: #AA0000;
  border: none;
  color: white;
  padding: 8px 32px;
  margin: 4px 2px;
  cursor: pointer;
}